# Ignore virtual environment
venv/

# Ignore specific large files
data/base_data.csv

# Example of ignoring all CSV files in a folder
*.csv

# Ignore other unnecessary files or directories
.DS_Store
logs/
output/
