# Exclude venv directory
venv/

# Exclude .DS_Store (macOS specific)
.DS_Store

# Exclude PyCache files
__pycache__/

# Exclude log files
logs/

# Exclude output data if not required
output/

# Exclude parquet files
*.parquet